* { box-sizing: border-box; }
body{margin: 12;
font-family:Helvetica,Arial,sans-serif;
font-size:  14px;
line-height: 1.5;
letter-spacing: 0.5px;
}

input,
select
{
width: 100%;
padding: 10px; margin:5px 10;
border: 7px solid black;
border-radius:7px;
display: block;
}

button,
input[type=submit],
input[type=button]
{
color:white; background:pink;
border: 5px solid transparent;
cursor:pointer;
align-items: center;
}

button:hover,input[type=submit]:hover,input[type=button]:hover{background:aqua; }

ul {margin: 15; padding: 15; list-style-type:none;}
li {padding: 50; left:10; }

table {border-collapse:collapse; border-spacing:10; width:100%; color: #000;}
table th, table td { border:none; text-align:left; padding:18px; }
table tr { background:#f8f8f8; }
table tr:nth-child(even){ background:#fff;}
table th { height:47px; }
